<%- include('../Partials/header.ejs') %>
<%- include('../Partials/main_nav.ejs') %>

<main class="container workouts-page">
    <div class="row">
        <div class="offset-md-0 col-md-10 text-center">
            <h1><%= title %></h1>
            <a href="/workouts/add" class="btn btn-primary my-3" role="button">
                <i class="fas fa-plus-circle"></i> Add Workout
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 mx-auto">
            <table class="table table-bordered table-striped table-hover">
                <!--Table Header-->
                <thead>
                    <tr class="d-flex">
                        <th class="text-center col-3">Workout</th>
                        <th class="text-center col-3">Date/Time</th>
                        <th class="text-center col-2">Number of Reps</th>
                        <th class="text-center col-2">Number of Sets</th>
                        <th class="text-center col-2">Intensity</th>
                        <th class="text-center col-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let count = 0; count < BookList.length; count++) { %>
                        <tr class="d-flex">
                            <td class="text-center col-3"><%= BookList[count].workout %></td>
                            <td class="text-center col-3"><%= BookList[count].time %></td>
                            <td class="text-center col-2"><%= BookList[count].repetitions %></td>
                            <td class="text-center col-2"><%= BookList[count].sets %></td>
                            <td class="text-center col-2"><%= BookList[count].intensity %></td>
                            <td class="text-center col-1">
                                <a href="/workouts/edit/<%= BookList[count]._id %>" class="btn btn-primary btn-sm mb-1">
                                    <i class="fas fa-pencil-alt"></i> Edit
                                </a>
                                <form action="/workouts/delete/<%= BookList[count]._id %>" method="POST" >
                                    <button type="submit" class="btn btn-danger btn-sm"
                                            onclick="return confirm('Are you sure you want to delete this workout?');">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</main>
<%- include('../Partials/footer.ejs') %>
<%- include('../Partials/bottom_nav.ejs') %>
